h1{
    text-align: center;
}
.container{
    width: 280px;
    height: 490px;
    background-color: rgb(87, 83, 83);
    margin: auto;
    border-radius: 20px;
    padding: 5px;
  

}
p{
    margin-left: 12px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
    margin-left: 12px;
    color: white;
    font-family:cursive ;
    max-height: fit-content;
    padding-top: 0px;
}
h5{
    margin-top: -4%;
    color: white;
    font-family:cursive ;
    max-height: fit-content;
}
#screen{
    border-radius: 10px;
    height: 65px;
    width: 270px;
    color:rgb(1, 8, 16) ;
    background-color: rgb(147, 165, 201);
    font-size: 2rem;
    text-align: right;
    }
    .button{
        background-color: rgb(31, 59, 98);
        color: white;
        width: 66px;
        height: 55px;
        border-radius: 10px;
        margin-top: 12px;
        font-size: 20px;}

.button:hover{
    border:2px solid white;
}